<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid-19 Dashboard</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="fontawesome/css/all.min.css">
    <link rel="stylesheet" href="css/templatemo-style.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);


        function drawChart() {

            var total_receive = total_get.innerHTML;
            var recovered_receive = recovered_get.innerHTML;
            var active_receive = active_get.innerHTML;
            var new_receive = new_get.innerHTML;
            var deaths_receive = deaths_get.innerHTML;
            var critical_receive = critical_get.innerHTML;
            var population_receive = population_get.innerHTML;

            var uninfected = population_receive - total_receive;

            var total_world_receive = total_world_get.innerHTML;
            var recovered_world_receive = recovered_world_get.innerHTML;
            var active_world_receive = active_world_get.innerHTML;
            var new_world_receive = new_world_get.innerHTML;
            var deaths_world_receive = deaths_world_get.innerHTML;
            var critical_world_receive = critical_world_get.innerHTML;
            var population_world_receive = population_world_get.innerHTML;

            var uninfected_world = (parseInt(population_world_receive) - parseInt(total_world_receive)).toString();;


            var data_world = google.visualization.arrayToDataTable([
                ['Effort', 'Amount given'],
                ['Infected', total_world_receive / 1000000],
                ['Uninfected', uninfected_world / 1000000],

            ]);

            var data = google.visualization.arrayToDataTable([
                ['Effort', 'Amount given'],
                ['Infected', total_receive / 1000000],
                ['Uninfected', uninfected / 1000000],

            ]);

            var options = {
                pieHole: 0.5,
                pieSliceText: 'label',
                pieSliceTextStyle: {
                    color: 'black',
                },
                legend: 'none',
                fontName: 'Rubik',
                slices: {
                    0: { color: '#E74C3C' },
                    1: {
                        offset: 0.1,
                        color: '#B2BABB'
                    }
                },
                // backgroundColor: '#e0f2sf1',
                backgroundColor: '#e0f2f1',
                pieSliceBorderColor: '#e0f2f1',
                chartArea: { left: 17, top: 0, width: '85%', height: '85%' }

            };

            var chart = new google.visualization.PieChart(document.getElementById('donut_single_world'));
            chart.draw(data_world, options);

            var chart = new google.visualization.PieChart(document.getElementById('donut_single'));
            chart.draw(data, options);

        }
    </script>

</head>

<style type="text/css">
    .container {
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;

    }
</style>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap" rel="stylesheet">

<body style="background-color:#eceff1;font-family: 'Rubik', sans-serif">

    <div class="container-fluid tm-container-content tm-mt-60" style="padding-right:50px;padding-left:50px;">
        <div class="row mb-4 tm-text-primary justify-content-end align-items-center"">
            <h2 style=" margin-top:50px;margin-bottom:30px;color:grey;text-align:center;font-size:60px">
            <span style="color:red">COVID19 </span>
            </h2>
            <h3 style="color:grey;text-align:center;font-size:48px">
                Dashboard
            </h3>
        </div>

        <div class="row tm-mb-90 tm-gallery">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <div class="container shadow p-3 mb-5 rounded-3" style="margin-top:100px;background-color:#b2dfdb">
                    <h1 style="color:grey;text-align:center;margin-top:4px;margin-bottom:4px;font-size:40px">
                        {{selectedcountry}}</h1>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <div class="container">
                    <form class="container" style="margin-top:110px" method="post"
                        class="d-flex justify-content-center align-items-center" action="">
                        {% csrf_token %}
                        <div class="d-flex justify-content-center align-items-center">
                            <select class="form-control" style="width:300px;height:50px" name="selectedcountry">
                                <option>Please Select</option>
                                {% for country in mylist %}
                                <option>{{country}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <br>
                        <div class="d-flex justify-content-center align-items-center">
                            <input type="submit" class="btn btn-primary btn-lg" name="">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <div class="container" style="padding-top:100px;text-align: center;">
                    <h4>Update: <span>{{date}}</span></h4>
                    <br>
                    <h4>Population: <span>{{population}}</span></h4>
                </div>
            </div>
        </div>

        <div class="row tm-mb-90 tm-gallery" style="padding-top:70px;border-radius:20px;background-color:#e0f2f1;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)">

            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5"">
                <div class=" container shadow p-3 mb-5 bg-white rounded-pill"
                style="border-radius:20px;background-color:#b2dfdb;height:120px; width:240px">
                <h4 style="text-align: center; padding-top:10px">Total Cases</h4>
                <h4 style="text-align: center">{{total}}</h4>
            </div>
            <div style="padding-top:10px;padding-bottom:10px">
            </div>
            <div class="container shadow p-3 mb-5 bg-white rounded-pill"
                style="border-radius:20px;background-color:#b2dfdb;height:120px; width:240px">
                <h4 style="text-align: center; padding-top:10px">Recovered Cases</h4>
                <h4 style="text-align: center" id="recovered_get">{{recovered}}</h4>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
            <div class="container shadow p-3 mb-5 bg-white rounded-pill"
                style="border-radius:20px;background-color:#b2dfdb;height:120px; width:240px">
                <h4 style="text-align: center; padding-top:10px">Active</h4>
                <h4 style="text-align: center" id="active_get">{{active}}</h4>
            </div>
            <div style="padding-top:10px;padding-bottom:10px">
            </div>
            <div class="container shadow p-3 mb-5 bg-white rounded-pill"
                style="border-radius:20px;background-color:#b2dfdb;height:120px; width:240px">
                <h4 style="text-align: center; padding-top:10px">New Cases</h4>
                <h4 style="text-align: center" id="new_get">{{new}}</h4>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
            <div class="container shadow p-3 mb-5 bg-white rounded-pill"
                style="border-radius:20px;background-color:#b2dfdb;height:120px; width:240px">
                <h4 style="text-align: center; padding-top:10px">Deaths Cases</h4>
                <h4 style="text-align: center" id="deaths_get">{{deaths}}</h4>
            </div>
            <div style="padding-top:10px;padding-bottom:10px">
            </div>
            <div class="container shadow p-3 mb-5 bg-white rounded-pill"
                style="border-radius:20px;background-color:#b2dfdb;height:120px; width:240px">
                <h4 style="text-align: center; padding-top:10px">Critical Cases</h4>
                <h4 style="text-align: center" id="critical_get">{{critical}}</h4>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
            <div class="container">
                <h4 style="text-align: center; padding-top:20px">Infected: {{infected_percent}} %</h4>
                <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            </div>
            <div id="donut_single" class="container" style="width: 300px; height: 300px"></div>
        </div>
    </div>


    <div class="row tm-mb-90 tm-gallery">

        <div class="row tm-mb-90 tm-gallery">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <div class="container shadow p-3 mb-5 rounded-3" style="margin-top:100px;background-color:#b2dfdb">
                    <h1 style="color:grey;text-align:center;margin-top:4px;margin-bottom:4px;font-size:40px">
                        Worldwide
                    </h1>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <div class="container" style="padding-top:100px;text-align: center;">
                    <h4>Update: <span>{{date}}</span></h4>
                    <br>
                    <h4>Population: <span>{{population_world}}</span></h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row tm-mb-90 tm-gallery">
        <div class="row tm-mb-90 tm-gallery" style="padding-top:70px;border-radius:20px;background-color:#e0f2f1;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)">

            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <div class="container shadow p-3 mb-5 bg-white rounded-pill"
                    style="border-radius:20px;background-color:#b2dfdb;height:120px; width:240px">
                    <h4 style="text-align: center; padding-top:10px">Total Cases</h4>
                    <h4 style="text-align: center">{{total_world}}</h4>
                </div>
                <div style="padding-top:10px;padding-bottom:10px">
                </div>
                <div class="container shadow p-3 mb-5 bg-white rounded-pill"
                    style="border-radius:20px;background-color:#b2dfdb;height:120px; width:240px">
                    <h4 style="text-align: center; padding-top:10px">Recovered Cases</h4>
                    <h4 style="text-align: center" id="recovered_world_get">{{recovered_world}}</h4>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <div class="container shadow p-3 mb-5 bg-white rounded-pill"
                    style="border-radius:20px;background-color:#b2dfdb;height:120px; width:240px">
                    <h4 style="text-align: center; padding-top:10px">Active</h4>
                    <h4 style="text-align: center" id="active_world_get">{{active_world}}</h4>
                </div>
                <div style="padding-top:10px;padding-bottom:10px">
                </div>
                <div class="container shadow p-3 mb-5 bg-white rounded-pill"
                    style="border-radius:20px;background-color:#b2dfdb;height:120px; width:240px">
                    <h4 style="text-align: center; padding-top:10px">New Cases</h4>
                    <h4 style="text-align: center" id="new_world_get">{{new_world}}</h4>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <div class="container shadow p-3 mb-5 bg-white rounded-pill"
                    style="border-radius:20px;background-color:#b2dfdb;height:120px; width:240px">
                    <h4 style="text-align: center; padding-top:10px">Deaths Cases</h4>
                    <h4 style="text-align: center" id="deaths_world_get">{{deaths_world}}</h4>
                </div>
                <div style="padding-top:10px;padding-bottom:10px">
                </div>
                <div class="container shadow p-3 mb-5 bg-white rounded-pill"
                    style="border-radius:20px;background-color:#b2dfdb;height:120px; width:240px">
                    <h4 style="text-align: center; padding-top:10px">Critical Cases</h4>
                    <h4 style="text-align: center" id="critical_world_get">{{critical_world}}</h4>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <div class="container">
                    <h4 style="text-align: center; padding-top:20px">Infected: {{infected_world_percent}} %</h4>
                    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                </div>
                <div id="donut_single_world" class="container" style="width: 300px; height: 300px"></div>
            </div>
        </div>
    </div> <!-- row -->

    </div> <!-- container-fluid, tm-container-content -->

    <p style="margin-top:150px; color:grey; text-align: center">Developed by <span style="color:grey">ChunzPS</span></p>
    <p style="display: none">Population_world: <span id="population_world_get">{{population_world_raw}}</span></p>
    <p style="display: none">Population: <span id="population_get">{{population_raw}}</span></p>

    <p style="display: none">Total_world: <span id="total_world_get">{{total_world_raw}}</span></p>
    <p style="display: none">Total: <span id="total_get">{{total_raw}}</span></p>


    <script src="js/plugins.js"></script>
    <script>
        $(window).on("load", function () {
            $('body').addClass('loaded');
        });
    </script>
</body>

</html>